.main {
  text-align: center;
  justify-content: center;
  background-color: white;
}

.divBox {
  margin-top: 15%;
}

.slotDate {
    padding: 7px ;
    margin: 8px 3px;
    box-sizing: border-box;
    width: 50%;     
  }
  .slotTime{
    padding: 7px ;
    margin: 8px 3px;
    box-sizing: border-box;
    width: 25%;
  }
  
  .padingStartT{
       margin-right:10px;
  }
  .padingEndT{
    margin-left:10px;
}
@media(max-width:700px){
  .slotDate{
      /* flex-direction: column; */
      width: 100%;
  }
  .slotTime{      
      width: 100%;    
      height: 100%;
  }
  .padingEnd{
    margin-left:3px;
  }
}

  
